.user_list_wrapper {
  --row-gap: 20px;
  --column-gap: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
}

.list_divider {
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .user_list_wrapper {
    --row-gap: 32px;
    --column-gap: 40px;

    grid-template-columns: repeat(3, 1fr);
    margin-top: 28px;
  }
}