:root {
  --color-white: #fdfdfd;
  --color-black: #161616;
  --color-accent: #22A0BC;
  --color-grey5: #F4F4F4;
  --color-grey4: #DADADA;
  --color-grey3: #9C9C9C;
  --color-grey2: #595959;
  --color-logo: #333153;

  --rounded-border: 50px;
  --border-width: 2px;

  --icon-size: 24px;

  //--text-field-width: 340px;

}